{% extends 'shop/basic.html' %}

{% block title %}about us{% endblock %}

{% block body %} 

<div>
     <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">My Awesome Cart</h1>
      <p>Welcome to My Awesome Cart, where shopping becomes an exhilarating journey. We curate trends, connect passions, and bring joy straight to your doorstep, creating an unforgettable shopping experience!</p>
    </div>
  </div>
    
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-8">
            <h2>Developer - Bhavesh I. Makwana</h2>
          </div>
        </div>
    
        <hr>
    
      </div> <!-- /container -->

</div>

{% endblock %}