{% extends 'shop/basic.html' %}

{% block title %}Product View{% endblock %}

{% block css %}


{% endblock %}

{% block body %} 

<div class="container content">

    <div class="row">
        <div class="col-md-4">
            <img src="/media/{{product.image}}" alt="" height="400px" width="400px">
            
            
        </div>
        <div class="col-md-8">
            <h2><b>{{product.product_name}}</b></h2>
            <h5>Rs. {{product.price}}</h5>
            <p>{{product.desc}}</p>
            <div class="row">
                <button class="btn btn-primary ml-3 mt-3" style="display: inline-block;">Buy Now</button>
                <button class="btn btn-success ml-3 mt-3" style="display: inline-block;">Add To Cart</button>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block js %}

{% endblock %}